<section class="card-bg">

{{! Featured posts are displayed first }}
  {{^is "paged"}}
    {{#foreach posts}}
        {{#if featured}}
        <section class="recent card {{post_class}} {{#if @even}}even{{else}}odd{{/if}}">
            <span class="featured-label">Sélection <span class="oi" data-glyph="heart"></span></span>
            <a href="{{url}}">
                <h2 class="post-title">{{{title}}}</h2>
                <div class="post-excerpt">
                    {{#if meta_description}}
                        <p>{{meta_description}}…</p>
                    {{else}}
                        <p>{{excerpt words="36"}}…</p>
                    {{/if}}
                </div>
            </a>
            <footer class="post-meta">
                {{#author}}
                <a href="{{url}}">
                {{#if image}}<div class="author-thumb" style="background-image:url({{image}});" alt="Author image" nopin="nopin"></div>{{/if}}
                <span style="color:rgba(51, 51, 51, 0.8)">{{name}}</span></a> ·
                {{/author}}
                <span>{{date format="DD MMMM YYYY"}}</span>
                {{#if tags}}
                <span class="tags"><span class="oi" data-glyph="tags"></span> {{tags}}</span>
                {{/if}}
            </footer>
        </section>
        {{/if}}
    {{/foreach}}
  {{/is}}

  {{#foreach posts}}
    {{#unless featured}}
	<section class="recent card {{post_class}} {{#if @even}}even{{else}}odd{{/if}}">
		<a href="{{url}}">
            <h2 class="post-title">{{{title}}}</h2>
            <div class="post-excerpt">
                {{#if meta_description}}
                    <p>{{meta_description}}…</p>
                {{else}}
                    <p>{{excerpt words="36"}}…</p>
                {{/if}}
            </div>
        </a>
		<footer class="post-meta">
			{{#is "home, tag, paged"}}
			{{#author}}
			<a href="{{url}}">
			{{#if image}}<div class="author-thumb" style="background-image:url({{image}});" alt="Author image" nopin="nopin"></div>{{/if}}
			<span style="color:rgba(51, 51, 51, 0.8)">{{name}}</span></a> ·
			{{/author}}
			{{/is}} 
			<span>{{date format="DD MMMM YYYY"}}</span>
            {{#if tags}}
            <span class="tags"><span class="oi" data-glyph="tags"></span> {{tags}}</span>
            {{/if}}
		</footer>
	</section>
    {{/unless}}
  {{/foreach}}

    {{#if pagination.prev}}
      {{pagination}}
    {{else}}
        {{#if pagination.next}}
            {{pagination}}
        {{/if}}
    {{/if}}
</section>
