<nav id="nav">
    <div class="mobileoff">
        {{#foreach navigation}}
            <a class="nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}"><span>{{label}}</span></a>
        {{/foreach}}

        <a href="{{twitter_url @blog.twitter}}" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="{{facebook_url @blog.facebook}}" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="{{@blog.url}}/agenda/" title="Agenda"><i class="fa fa-calendar" aria-hidden="true"></i></a>
        <a href="{{@blog.url}}/ghost/" title="Admin/Rédaction"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{{@blog.url}}/search/" title="Recherche"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    
    <select class="custom nolabel mobileon" name="Menu" onchange="location = this.options[this.selectedIndex].value;">
        <option value="#" selected="selected">Menu</option>
        {{#foreach navigation}}
            <option value="{{url absolute="true"}}">{{label}}</option>
        {{/foreach}}
    </select>
</nav>
