<div class="meta pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&#11013; {{t "Newer posts"}}</a>
    {{/if}}
        <span {{#unless prev}}style="float:left" {{/unless}}class="page-number">{{t "Page"}} {{page}} {{t "of"}} {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">{{t "Older posts"}} &#10145;</a>
    {{/if}}
</div>
