{{!< default}}

{{#author}}
    <header class="big cover" style="background-image: url({{#if cover}}{{cover}}{{else}}{{#if @blog.cover}}{{@blog.cover}}{{/if}}{{/if}})">
	    <h1>
            {{#if image}}
            <figure class="author-image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
            </figure>
            {{/if}}

            {{name}}
        </h1>
	    <div>
		{{#if bio}}
		    <div class="meta-description">{{bio}}</div>
		{{/if}}
            <div class="meta">
                {{#if location}}<span class="author-location icon-location"><span class="oi" data-glyph="location"></span> {{location}}</span>{{/if}}
                {{#if website}}<span class="author-link icon-link"><span class="oi" data-glyph="link-intact"></span> <a href="{{website}}">{{website}}</a></span>{{/if}}
                <span class="oi" data-glyph="pencil"></span> {{plural ../pagination.total empty='N\'a publié aucun article' singular='% article' plural='% articles'}}
            </div>
        </div>
    </header>
{{/author}}

{{! The main content area on the homepage }}

    <div id="wrapper">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
