{{!< default}}

{{#author}}
    <header class="big author {{#if cover}}cover" style="background-image: url({{cover}});"{{else}}cover default-cover"{{/if}}>
	    <h1>
            {{#if image}}
            <figure class="author-image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
            </figure>
            {{/if}}

            {{name}}
        </h1>
	    <div>
		{{#if bio}}
		    <div class="meta-description">{{bio}}</div>
		{{/if}}
            <div class="meta">
                {{#if location}}<span class="author-location icon-location"><a title="Voir sur OpenStreetMap" href="http://nominatim.openstreetmap.org/search.php?q={{location}}"><span class="oi" data-glyph="map-marker"></span> {{location}}</a></span>{{/if}}
                <span><span class="oi" data-glyph="pencil"></span> {{plural ../pagination.total empty='N\'a publié aucun article' singular='% article' plural='% articles'}}</span>
                {{#if website}}<span class="author-link icon-link"><a href="{{website}}"><span class="oi" data-glyph="link-intact"></span> {{website}}</a></span>{{/if}}
            </div>
        </div>
    </header>
{{/author}}

{{! The main content area on the homepage }}

    <div id="wrapper">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
