<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "img/design/fav-16.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
	<div id="topbar" class="nav">
		<div id="head">
            {{^is "home"}}
		    <a href="/">
                <img src="{{asset "img/design/script.png"}}" alt="Logo">
                <span class="nav-head"{{#is "post"}}{{#if post.author}} style="display:none"{{/if}}{{/is}}>{{@blog.title}}</span>
		    </a>
            {{/is}}
		{{#is "post"}}
		{{#post}}
		    {{#author}}
		    <a class="author-h" href="{{url}}">
                <span style="opacity:.2">/</span> 
                <div class="author-thumb" style="background-image:url({{image}});"></div>
                <span class="author-top">{{name}}</span>
		    </a>{{/author}}
		{{/post}}
		{{/is}}
		</div>
		{{ navigation }}  
	</div>

        {{! Everything else gets inserted here }}
        {{{body}}}

	{{foot}}
    </div> <!-- #wrapper -->

    
    {{ghost_foot}}

    <footer id="foot" class="smalltitle"> <!-- Foot -->
        <span style="color:rgba(255, 255, 255, .3)">Retrouvez les informations légales et les licences de chaque auteur de <em>{{@blog.title}}</em> dans notre <a href="/a-propos">à propos</a>.</span>
    </footer>
    
    {{! Bonus scripts }}
    {{! Nice little script to hide/show top bar on scroll }}<script type="text/javascript" src="{{asset "js/scroll-up-bar.js"}}"></script>

</body>
</html>
