<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="{{asset "img/design/fav.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize-opentype.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
	<div id="topbar" class="nav">
		<div id="head">
            {{^is "home"}}
		    <a href="/">
               {{#if @blog.logo}}
                <img class="logo" src="{{@blog.logo}}" alt="Logo">
               {{/if}}
                <span class="nav-head">{{@blog.title}}</span>
		    </a>
            {{/is}}
		</div>
		{{ navigation }}  
	</div>

        {{! Everything else gets inserted here }}
        {{{body}}}

	{{foot}}
    </div> <!-- #wrapper -->

    
    {{ghost_foot}}

    <footer id="foot">
        <strong>{{@blog.title}}</strong> · Powered by Ghost · Theme is <a href="https://github.com/Schoewilliam/Stitch-Blue"><strong>Stitch Blue</strong></a>, by William Dorffer.
    </footer>
    
    {{! Bonus scripts }}
    {{! Nice little script to hide/show top bar on scroll }}
    <script type="text/javascript" src="{{asset "js/scroll-up-bar.js"}}"></script>

</body>
</html>
