{{!< default}}
              
    <header class="big {{#if @blog.cover}}cover" style="background-image: url({{@blog.cover}})"{{else}}"{{/if}}>
        <h1 style="font-size:2em">
            <img src="{{asset "img/design/script.png"}}" alt="Logo"> {{@blog.title}} <a class="info" href="/a-propos"><span class="oi" data-glyph="info"></span></a>
        </h1>
        {{#is "home"}}
	    <div class="author-sec">
            <div class="meta">
                <div>
                {{#foreach posts}}
                    {{#author}}
                        <a href="{{url}}" style="margin-left:-5px;margin-right: 12px">
                        {{#if image}}<div class="author-thumb" style="background-image:url({{image}});" alt="Author image" nopin="nopin"></div>{{/if}}
                        <span style="color:#fff">{{name}}</span></a>
                    {{/author}}
                {{/foreach}}
                <a class="more" href="/a-propos#quietquesommesnous">···</a>
                </div>
            </div>
        </div>
        {{/is}}
    </header>

    <div id="wrapper">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
