{{!< default}}
              
    <header class="big shrunk {{#if @blog.cover}}cover" style="background-image: url({{@blog.cover}})"{{else}}cover default-cover"{{/if}}>
        <h1 class="home-head">
            <img src="{{asset "img/design/script.png"}}" alt="Logo"> {{@blog.title}}</a>
        </h1>
        <div class="meta">
            {{#if @blog.description}}<span class="small">{{@blog.description}}</span> <a class="info" href="/a-propos" style="margin-left:1em"><span class="oi" data-glyph="info" style="color:inherit"></span></a>{{/if}}
        </div>
    </header>

    <div id="wrapper">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
