{{!< default}}

{{#post}}

<header class="big {{#if image}}cover" style="background-image: url({{image}})"{{else}}no-cover"{{/if}}>
	<h1 class="post-title" style="text-align:left">{{title}}</h1>
		<div class="post-meta">
			<span>{{date format="DD MMMM YYYY"}}</span>
            {{#if tags}}
                · <span style="font-size: 120%; vertical-align: top; color: rgb(255, 255, 255); margin-left: 0.5em;" class="oi" data-glyph="tags"></span> <span class="tags">{{tags}}</span>
            {{/if}}
		</div>
</header>

<div id="wrapper">
<section class="article {{post_class}}">
	<div id="post">
	    {{content}}
	</div>
</section>

{{/post}}
