{{!< default}}

{{#post}}

<header class="big {{#if image}}cover" style="background-image: url({{image}})"{{else}}no-cover"{{/if}}>
	<h1 class="post-title" style="text-align:left">{{title}}</h1>
		<div class="post-meta meta">
			<span>{{date format="DD MMMM YYYY"}}</span>
            {{#if tags}}
            <span class="tags"><span class="oi" data-glyph="tags"></span> {{tags}}</span>
            {{/if}}
            {{#has author="Schoewilliam"}}
                <!-- static flattr button -->
                  <a href="https://flattr.com/submit/auto?user_id=Schoewilliam&url={{url absolute="true"}}&title={{encode title}}&description={{excerpt}}&language=fr_FR&tags={{tags autolink="false" separator=","}}&hidden=0&category=text">
                    <img src="{{asset "/img/flattr-badge-large.png"}}" alt="Flattr Button"/>
                  </a>
                <!-- end static flattr button -->
            {{/has}}
		</div>
</header>

<div id="wrapper">
<section class="article {{post_class}}">
	<div id="post">
	    {{content}}
	</div>
</section>

{{/post}}
