{{!< default}}

{{#post}}

<header class="big {{#if image}}cover" style="background-image: url({{image}})"{{else}}no-cover"{{/if}}>
	<h1 class="post-title" style="text-align:left">{{title}}</h1>
		<div class="post-meta meta">
			<span>{{date format="DD MMMM YYYY"}}</span>
            {{#if tags}}
            <span class="tags"><span class="oi" data-glyph="tags"></span> {{tags}}</span>
            {{/if}}
            {{#has author="Schoewilliam"}}
                <script id='fbiihuz'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=Schoewilliam&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbiihuz');</script>
            {{/has}}
		</div>
</header>

<div id="wrapper">
<section class="article {{post_class}}">
	<div id="post">
	    {{content}}
	</div>
</section>

{{/post}}
