{{!< default}}

{{#post}}

{{#if image}}
    <header class="big cover" style="background-image: url({{image}})">
{{else}}
    <header class="big cover shrunk default-cover">
{{/if}}
	<h1 class="post-title" style="text-align:left">{{title}}</h1>
		<div class="post-meta meta">
            <div>
                <span>{{date format="DD MMMM YYYY"}}</span>
                {{#if tags}}
                <span class="tags"><span class="oi" data-glyph="tags"></span> {{tags}}</span>
                {{/if}}
            </div>
		</div>
</header>

<div id="wrapper">
<section class="article {{post_class}}">
	<div id="post">
	    {{content}}
	</div>
</section>

{{/post}}
